/* [data-theme=dark] .bannerText {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    color: #1b1c20;
}

[data-theme=dark] .anzhiyufont.anzhiyu-icon-paper-plane {
    color: rgb(148, 116, 56);
} */